@model AngularApp3.Server.Models.Entregable

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>żEstá seguro de eliminar este registro?</h3>
<div>
    <h4>Entregable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Campana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Campana!.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disenador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disenador!.Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EntregableId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver al listado</a>
    </form>
</div>




